.skeleton {
  min-height: 147px;
  width: var(--main-content);
  animation: pulse 2s infinite;
  height: 100%;
  border-radius: var(--radius);
}

@keyframes pulse {
  from { background-color: var(--gr-a); }
  to   { background-color: var(--gr-c); }
}