.button {
  user-select: none;
  cursor: pointer;
  border-radius: var(--radius);
  color: var(--gr-c);
  font-family: var(--font-sans);
  font-weight: 400;
  background: var(--gr-a);
  border: none;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition), color var(--transition);
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
}

.button:hover{
/* .button:focus { */
  outline: none;
  color: var(--fg-a);
}

.button[disabled] {
  cursor: not-allowed;
  background: var(---gr-a);
  color: var(--gr);
}

.transparent {
  background-color: var(--bg-t);
}